USE [master]
GO
/****** Object:  Database [TimeTracker]    Script Date: 4/2/2018 4:46:12 PM ******/
CREATE DATABASE [TimeTracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimeTracker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TimeTracker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TimeTracker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TimeTracker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimeTracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimeTracker]
GO
USE [TimeTracker]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/2/2018 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](75) NOT NULL,
	[Title] [nvarchar](75) NOT NULL,
	[MangerId] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 4/2/2018 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[ManagerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](75) NOT NULL,
	[Title] [nvarchar](75) NOT NULL,
 CONSTRAINT [PK_Managers] PRIMARY KEY CLUSTERED 
(
	[ManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftLength]    Script Date: 4/2/2018 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftLength](
	[ShiftLengthId] [int] IDENTITY(1,1) NOT NULL,
	[ShiftLengthName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ShiftLength] PRIMARY KEY CLUSTERED 
(
	[ShiftLengthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 4/2/2018 4:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[ShiftId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[MangerId] [int] NOT NULL,
	[WorkFromHome] [bit] NULL,
	[Callout] [bit] NOT NULL,
	[Planned] [bit] NULL,
	[ShiftLengthId] [int] NULL,
	[Email] [bit] NULL,
	[Phone] [bit] NULL,
	[Integrations] [bit] NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [Name], [Title], [MangerId]) VALUES (1, N'Ben Harrington', N'Dev Support Specialist', 1)
INSERT [dbo].[Employees] ([EmployeeId], [Name], [Title], [MangerId]) VALUES (2, N'Heather Sturm', N'Integrations Support Specialist', 1)
INSERT [dbo].[Employees] ([EmployeeId], [Name], [Title], [MangerId]) VALUES (3, N'Ross Cochran', N'Integrations Support Specialist', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Managers] ON 

INSERT [dbo].[Managers] ([ManagerId], [Name], [Title]) VALUES (1, N'Katie Watts', N'Senior Support Team Manager')
INSERT [dbo].[Managers] ([ManagerId], [Name], [Title]) VALUES (2, N'Grey Stepp', N'Support Team Manager')
SET IDENTITY_INSERT [dbo].[Managers] OFF
SET IDENTITY_INSERT [dbo].[ShiftLength] ON 

INSERT [dbo].[ShiftLength] ([ShiftLengthId], [ShiftLengthName]) VALUES (1, N'Full Day')
INSERT [dbo].[ShiftLength] ([ShiftLengthId], [ShiftLengthName]) VALUES (2, N'Half Day')
SET IDENTITY_INSERT [dbo].[ShiftLength] OFF
SET IDENTITY_INSERT [dbo].[Shifts] ON 

INSERT [dbo].[Shifts] ([ShiftId], [Date], [EmployeeId], [MangerId], [WorkFromHome], [Callout], [Planned], [ShiftLengthId], [Email], [Phone], [Integrations]) VALUES (2, CAST(N'2018-01-03' AS Date), 2, 1, NULL, 0, NULL, 1, NULL, NULL, 1)
INSERT [dbo].[Shifts] ([ShiftId], [Date], [EmployeeId], [MangerId], [WorkFromHome], [Callout], [Planned], [ShiftLengthId], [Email], [Phone], [Integrations]) VALUES (3, CAST(N'2018-01-04' AS Date), 2, 1, NULL, 0, NULL, 1, NULL, NULL, 1)
INSERT [dbo].[Shifts] ([ShiftId], [Date], [EmployeeId], [MangerId], [WorkFromHome], [Callout], [Planned], [ShiftLengthId], [Email], [Phone], [Integrations]) VALUES (4, CAST(N'2018-01-05' AS Date), 2, 1, NULL, 0, NULL, 1, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Shifts] OFF
ALTER TABLE [dbo].[Shifts] ADD  CONSTRAINT [DF_Shifts_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Employees] FOREIGN KEY([MangerId])
REFERENCES [dbo].[Managers] ([ManagerId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Employees]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_Employees]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_Managers] FOREIGN KEY([MangerId])
REFERENCES [dbo].[Managers] ([ManagerId])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_Managers]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_ShiftLengths] FOREIGN KEY([ShiftLengthId])
REFERENCES [dbo].[ShiftLength] ([ShiftLengthId])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_ShiftLengths]
GO
USE [master]
GO
